









 

  

 
  
 
  
 


				
 
 





 









						
  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="googlebot" content="noodp"/>
<meta name="verify-v1" content="FAL4eTH1ff6uBoYCGOj7efgHT8xkCPuQZwN7GIOL8hA=" />
<meta name="google-site-verification" content="osrKcPFANmAkmyxy6cBkpI-NAIA1KINBjjRP5I-4DQE" />
<meta name="apple-itunes-app" content="app-id=960850444" />

<link rel="alternate" type="application/rss+xml" title="DC Universe Online - All" href="https://www.dcuniverseonline.com/rss" />
<link rel="alternate" type="application/rss+xml" title="DC Universe Online - News" href="https://www.dcuniverseonline.com/rss/news" />
<link rel="alternate" type="application/rss+xml" title="DC Universe Online - Update Notes" href="https://www.dcuniverseonline.com/rss/update-notes" />
<link rel="alternate" type="application/rss+xml" title="DC Universe Online - Guides" href="https://www.dcuniverseonline.com/rss/guides" />

<meta name="description" content="DC Universe Online, a joint video game from Daybreak Game Company, Warner Bros. Interactive Entertainment and DC comics is an action-packed, physics based MMO game for the PLAYSTATION®3 and PC gaming consoles. Set in the DC Universe and with the help of legendary Jim Lee, players can become heroes or villains and fight alongside Batman, Superman, Wonder Woman, Flash and Green Lantern against villains like Hush, Joker, Catwoman, Bane, Doomsday, Brainiac and more.">
<meta name="keywords" content="Jim Lee comics, Jim Lee video game, DC comics online, Justice league of America game, DC comics game, DC videogames, Download DC game, DC Universe online game Daybreak Game Company game, Warner Bros. Interactive games,  Marvel Online Game, Champions Online, City of Heroes, City of Villains, Action MMO game, Comic books game, Comic-Con San Diego DCUO">

<link rel="icon" href="https://www.dcuniverseonline.com/favicon.ico?v=3678932528" type="image/x-icon" />
<link rel="shortcut icon" href="https://www.dcuniverseonline.com/favicon.ico?v=3678932528" type="image/x-icon" />

	<link rel="publisher" href="https://plus.google.com/+dcuniverseonline/" />



			<meta property="og:site_name" content="DC Universe Online" />
				<meta property="og:title" content="Register | DC Universe Online" />
				<meta property="og:description" content="DC Universe Online, a joint video game from Daybreak Game Company, Warner Bros. Interactive Entertainment and DC comics is an action-packed, physics based MMO game for the PLAYSTATION®3 and PC gaming consoles. Set in the DC Universe and with the help of legendary Jim Lee, players can become heroes or villains and fight alongside Batman, Superman, Wonder Woman, Flash and Green Lantern against villains like Hush, Joker, Catwoman, Bane, Doomsday, Brainiac and more." />
				<meta property="og:image" content="https://www.dcuniverseonline.com/images/v4/global/fb-share.jpg?v=3073712053" />
	
			<meta name="twitter:card" content="summary" />
				<meta name="twitter:site" content="@DCUO" />
				<meta name="twitter:title" content="Register | DC Universe Online" />
				<meta name="twitter:description" content="DC Universe Online, a joint video game from Daybreak Game Company, Warner Bros. Interactive Entertainment and DC comics is an action-packed, physics based MMO game for the PLAYSTATION®3 and PC gaming consoles. Set in the DC Universe and with the help of legendary Jim Lee, players can become heroes or villains and fight alongside Batman, Superman, Wonder Woman, Flash and Green Lantern against villains like Hush, Joker, Catwoman, Bane, Doomsday, Brainiac and more." />
				<meta name="twitter:image" content="https://www.dcuniverseonline.com/images/v4/global/fb-share.jpg?v=3073712053" />
	
<title>Register | DC Universe Online</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href='https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:300,300italic,400,700,400italic,500,500italic,700italic' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@700&display=swap" rel="stylesheet">


																																										<link rel="stylesheet" href="https://www.dcuniverseonline.com/minify-css?locale=en_US&files=browserErrors/browserErrors^global-brand-bar/global-brand-bar^footer-alerts^bootstrap^v4/core^v4/components/newsletter-modal^v4/_pages/register&v=2727406892" type="text/css" />

<script type="text/javascript">


var globs = globs || {};
var webReg = webReg || {};

globs.wdl = globs.wdl || {};
globs.wdl.gameName = "DC Universe Online";
globs.wdl.gameCode = "DCUO";
globs.wdl.theme = "dcuo";
globs.wdl.game = "dcuo";
globs.wdl.sitePrefix = "dcuo";
globs.wdl.scope = "full site";
globs.wdl.business = "mktg";
globs.wdl.language = "en";
globs.wdl.pageID = "register";
globs.wdl.pageType = "register";
globs.wdl.env = "live";
globs.wdl.cid = "";
globs.wdl.productArray = [];
globs.wdl.skuArray = [];
globs.wdl.username = "";
globs.wdl.userLoggedIn = false;
globs.wdl.gvidEnabled = true;
globs.wdl.wdlCookDNT = false;
globs.wdl.googleAnalyticsId = 'UA-21946030-1';
globs.wdl.googleAnalyticsIdGA4 = '';
        globs.wdl.cookieWhitelist = ['wdlCookDNT', 'wr-underage', 'saw-cookie-preferences'];

globs.soelocale = "en_US";
globs.urlparameters = {};

globs.urls = globs.urls || {};
globs.urls.login = "/login";
globs.urls.logout = "https://www.dcuniverseonline.com/j_spring_cas_security_logout";
globs.urls.returnURL = "https://www.dcuniverseonline.com";
globs.urls.returnURL_encoded = "https%3A%2F%2Fwww.dcuniverseonline.com";
globs.urls.downloadURL = "https://launch.daybreakgames.com/installer/DCUO_setup.exe?v=7";
globs.urls.uramRootUrl = "https://account.daybreakgames.com"; globs.urls.uramAjaxUrl = "https://account.daybreakgames.com";
globs.urls.dcsRoot = "https://assets.daybreakgames.com/query";
globs.urls.censusUrl = "https://census.daybreakgames.com";
globs.urls.socialServiceURL = "https://social.daybreakgames.com";
globs.urls.appengRestUrl = "https://ar.daybreakgames.com";
globs.urls.helpUrl = "https://help.daybreakgames.com";
globs.urls.supportUrl = "https://help.daybreakgames.com/hc/en-us/categories/204228467-DC-UNIVERSE-ONLINE";
globs.urls.contactUsUrl = "https://help.daybreakgames.com";
globs.urls.installerUrl = "https://launch.daybreakgames.com/installer";
globs.urls.forumRootUrl = "https://forums.daybreakgames.com";
globs.urls.soeRootUrl = "https://www.daybreakgames.com";
globs.urls.privacyPolicyUrl = "https://www.daybreakgames.com/privacy?locale=en_US";
globs.urls.cookiePolicyUrl = "https://www.daybreakgames.com/cookies?locale=en_US";

globs.urls.pacmanRoot = "/goto?type=afterReg&targetUrlKey=pacmanRoot&theme=dcuo&locale=en_US";
globs.urls.camAmHome = "/goto?type=afterReg&targetUrlKey=camAmHome&theme=dcuo&locale=en_US";
globs.urls.camEnterActivationCode = "/goto?type=afterReg&targetUrlKey=camEnterActivationCode&theme=dcuo&locale=en_US&gameCode=DCUO&service=https%3A%2F%2Fwww.dcuniverseonline.com";
globs.urls.camUpdateAccountInfo = "/goto?type=afterReg&targetUrlKey=camUpdateAccountInfo&theme=dcuo&locale=en_US";
globs.urls.camSubscriptionsInfo = "/goto?type=afterReg&targetUrlKey=camSubscr_iptionsInfo&theme=dcuo&locale=en_US";
globs.urls.camUpdateOptIns = "/goto?type=afterReg&targetUrlKey=camUpdateOptIns&theme=dcuo&locale=en_US";
globs.urls.camStationCashBalance = "/goto?type=afterReg&targetUrlKey=camStationCashBalance&theme=dcuo&locale=en_US";
globs.urls.camPaymentHistory = "/goto?type=afterReg&targetUrlKey=camPaymentHistory&theme=dcuo&locale=en_US";
globs.urls.camPaymentSources = "/goto?type=afterReg&targetUrlKey=camPaymentSources&theme=dcuo&locale=en_US";
globs.urls.camParentalControlsParentalControls = "/goto?type=afterReg&targetUrlKey=camParentalControlsParentalControls&theme=dcuo&locale=en_US";
globs.urls.dlcBuyDLCWithSkuAndMOPEntryPoint = "/goto?type=afterReg&targetUrlKey=dlcBuyDLCWithSkuAndMOPEntryPoint&theme=dcuo&locale=en_US";
globs.urls.dlcBuyDLContentFlow = "/goto?type=afterReg&targetUrlKey=dlcBuyDLContentFlow&theme=dcuo&locale=en_US";
globs.urls.dlcPreorderEntry = "/goto?type=afterReg&targetUrlKey=dlcPreorderEntry&theme=dcuo&locale=en_US";
globs.urls.csgCsgPurchaseFlow = "/goto?type=afterReg&targetUrlKey=csgCsgPurchaseFlow&theme=dcuo&locale=en_US";
globs.urls.betaBetaRegistration = "/goto?type=afterReg&targetUrlKey=betaBetaRegistration&theme=dcuo&locale=en_US";
globs.urls.betaSignUpForBetaRedirect = "/goto?type=afterReg&targetUrlKey=betaSignUpForBetaRedirect&theme=dcuo&locale=en_US";
globs.urls.commerceTryBuyOrActivate = "/goto?type=afterReg&targetUrlKey=commerceTryBuyOrActivate&theme=dcuo&locale=en_US";
globs.urls.commerceKronosDeepEntry = "/goto?type=afterReg&targetUrlKey=commerceKronosDeepEntry&theme=dcuo&locale=en_US";
globs.urls.commerceAllAccessFlow = "/goto?type=afterReg&targetUrlKey=commerceAllAccessFlow&theme=dcuo&locale=en_US";
globs.urls.hardgoodBuyAuthenticatorFlow = "/goto?type=afterReg&targetUrlKey=hardgoodBuyAuthenticatorFlow&theme=dcuo&locale=en_US";
globs.urls.linkWalletFundWallet = "/goto?type=afterReg&targetUrlKey=linkWalletFundWallet&theme=dcuo&locale=en_US";
globs.urls.linkWalletFundWalletWithMOP = "/goto?type=afterReg&targetUrlKey=linkWalletFundWalletWithMOP&theme=dcuo&locale=en_US";
globs.urls.membershipMembership = "/goto?type=afterReg&targetUrlKey=membershipMembership&theme=dcuo&locale=en_US&gameCode=DCUO&service=https%3A%2F%2Fwww.dcuniverseonline.com";
globs.urls.membershipMembershipWithSku = "/goto?type=afterReg&targetUrlKey=membershipMembershipWithSku&theme=dcuo&locale=en_US";
globs.urls.regForgotStationName = "/goto?type=afterReg&targetUrlKey=regForgotStationName&theme=dcuo&locale=en_US";
globs.urls.regForgotPassword = "/goto?type=afterReg&targetUrlKey=regForgotPassword&theme=dcuo&locale=en_US";
globs.urls.currencyConversion = "/goto?type=afterReg&targetUrlKey=currencyConversion&theme=dcuo&locale=en_US";


webReg.isBeta = false;
webReg.betaID = -1;
webReg.underAgeMessage = "We're sorry, but you are unable to sign up for a Daybreak Account at this time.";
webReg.popoverPos = "left";
webReg.theme = "dcuo"; 
</script>
</head>

<body id="register" class="register">

		

<script type="text/template" class="non-member">
	<a href="https://www.daybreakgames.com/allaccess" class="top-level dropdown-link">
		<span id="brandBarIsMember">Get</span>
		<span id="allAccessLogo">All Access</span>
	</a>
	<span class="down-arrow"></span>
	<ul class="dropdown-menu AA non-member">
		<li id="allAccessTitle">Try All Access today and enjoy these benefits:</li>
		<li><span class="promo-title">Premium benefits</span> in participating DGC games</li>
		<li><span class="promo-title">10% off unlimited</span> marketplace purchases</li>
		<li><span class="promo-title">500 Daybreak Cash Reward</span> to claim each month</li>
		<li><span class="promo-title">Special membership promotions</span> and offers</li>
		<li id="findOutMore"><a href="https://www.daybreakgames.com/allaccess" class="btn find-out-more-btn btn-primary">Find out more <span class="raquo">&raquo;</span></a></li>
	</ul>
</script>

<script type="text/template" class="member">
	<a href="/goto?type=afterReg&targetUrlKey=camSubscr_iptionsInfo&theme=dcuo&locale=en_US&theme=dcuo&service=https://www.dcuniverseonline.com" class="top-level dropdown-link">
		<span id="brandBarIsMember">Get</span>
		<span id="allAccessLogo">All Access</span>
	</a>
	<span class="down-arrow"></span>
	<ul class="dropdown-menu AA member" >
		<% if( scGrantClaimed == true) { %>
			<% if( !expirationDate ) { %>
				<li id="scGrant"><span class="rewards">500 DBC Reward</span><br>Date of next reward: <%- scGrantDate %></li>
			<% } %>
		<% } else { %>
			<li id="scGrant"><span class="rewards">500 DBC Reward</span><br>Date this reward expires: <%- scGrantDate %></li>
		<% } %>
		<% if( expirationDate ) { %>
			<li>Your membership expires on <%- expirationDate %>.<br>Add time so you don't miss your next 500 DBC reward by <a href="#" id="membershipLink">clicking here</a>.</li>
		<% } %>
			<li id="memberInfoLink">
				<a href="/goto?type=afterReg&targetUrlKey=camSubscr_iptionsInfo&theme=dcuo&locale=en_US&theme=dcuo&service=https://www.dcuniverseonline.com">View my membership info <span class="raquo">&raquo;</span></a>
			</li>
								</ul>
</script>

<div id="brandBar" class="navbar navbar-default">
	<div id="brandBarAlign" class="container">
		<div id="brandLogo" class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#brandBarMenu" aria-expanded="false" aria-controls="brandBarMenu">
				<i id="globalNavState" class="fa fa-bars"></i>
			</button>
						<a href="/login" class="auth-link mobile-auth hidden-sm hidden-md hidden-lg" id="loginLink">Log in</a>
						<a id="brand" class="navbar-brand" href="https://www.daybreakgames.com" target="_blank">
																								<img src="https://assets-cdn.daybreakgames.com/uploads/dcsclient/000/000/090/781.png?v=1.0" class="hidden-xs">
				<img src="https://assets-cdn.daybreakgames.com/uploads/dcsclient/000/000/090/782.png?v=1.0" class="hidden-sm hidden-md hidden-lg">
			</a>
		</div>
			</div>
</div>


		
<div id="browserErrors">
	<noscript>
		<div id="noscript" class="soeErrMsg">
			<h3 class="soeErrMsgTitle">
				JavaScript Required
			</h3>
			<div class="soeErrMsgBody">
				JavaScript must be enabled in order to view this site correctly.  Please enable JavaScript by changing your browser options.
			</div>
		</div>
	</noscript>

		<div id="oldBrowser" class="soeErrMsg">
		<h3 class="soeErrMsgTitle">
			Browser Update Required
		</h3>
		<div class="soeErrMsgBody">
			In order to fully experience everything <span id="oldBrowserGameName">this site</span> has to offer, you must upgrade your browser.  Please use the links below to upgrade your existing browser.
			<ul class="browserList">
				<li class="ffx"><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a></li>
				<li class="gc"><a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a></li>
				<li class="ie"><a href="http://www.microsoft.com/ie" target="_blank">Microsoft Internet Explorer</a></li>
				<li class="as"><a href="http://support.apple.com/downloads/#safari" target="_blank">Apple Safari</a></li>
			</ul>
		</div>
	</div>

		<div id="noCookies" class="soeErrMsg">
		<h3 class="soeErrMsgTitle">
			Cookies Required
		</h3>
		<div class="soeErrMsgBody">
			Cookies must be enabled in order to view this site correctly.  Please enable Cookies by changing your browser options.
		</div>
	</div>
</div>
		

<div id="registerPage">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<a class="continue-link" href="/home">Continue to Website &gt;</a>
			</div>
		</div>
		<div class="row">
			<div class="registration-header">
				<img src="https://www.dcuniverseonline.com/images/v4/register/logo.png?v=1157283141" alt="DC Universe Online" />
				<p class="header-cta switch hidden">Visit the Switch Store to <strong>Play for <em>Free</em></strong></p>
				<p class="header-cta pc">Create an Account to <strong>Play for <em>Free</em></strong></p>
				<p class="header-cta psn hidden">Visit the PlayStation Store to <strong>Play for <em>Free</em></strong></p>
				<p class="header-cta xbox hidden">Visit the Xbox One Store to <strong>Play for <em>Free*</em></strong></p>
			</div>
		</div>
		<div class="row">
			<div class="registration-body">
				<ul class="system-tabs">
					<li><a href="#regTabSwitch" data-toggle="tab" data-store-type="switch">Switch</a></li>
					<li class="active"><a href="#regTabPC" data-toggle="tab" data-store-type="pc">PC</a></li>
					<li><a href="#regTabPS4" data-toggle="tab" data-store-type="psn">PS4</a></li>
					<li><a href="#regTabXbox" data-toggle="tab" data-store-type="xbox">XBOX One</a></li>
				</ul>
				<div class="system-panes tab-content">
															<div id="regTabSwitch" class="tab-pane">
													<div class="email-group">
					<p class="email-cta">Before we send you to the Nintendo Switch Store, sign up for the DCUO newsletter! Get insider updates on new features, special offers, and starter guides. You can unsubscribe in one click.</p>
			<form action="" class="email-form" data-cid="5266596">
				<div class="tos-pp">
					<div class="checkbox"><label><input type="checkbox" /><i></i> I have read and I accept the <a href="https://www.daybreakgames.com/terms-of-service?locale=en_US" target="_blank">Terms of Service</a>.</label></div>
					<div class="checkbox"><label><input type="checkbox" /><i></i> I have read and I accept the <a href="https://www.daybreakgames.com/privacy?locale=en_US" target="_blank">Privacy Policy</a> and consent to the transfer of my information to the United States.</label></div>
				</div>
				<input type="email" id="emailInputSwitch" class="email-address" placeholder="Email Address" />
				<button type="submit" class="email-submit" disabled>Sign Up Now!</button>
				<p class="result result-working">Working...</p>
				<p class="result result-success">Thank you for signing up for the DCUO newsletter!</p>
				<p class="result result-error"></p>
			</form>
			</div>
			<a href="https://www.nintendo.com/games/detail/dc-universe-online-switch/" class="continue-to-store" target="_blank">No Thanks - Continue to Store</a>
		<div class="external-site">
			<p>You are now leaving Daybreak's website.</p>
			<p>Daybreak does not control the destination website and is not responsible for its content.</p>
			<p>You will be subject to the destination website's privacy policy.</p>
		</div>
						</div>
					<div id="regTabPC" class="tab-pane active">
												<div class="web-registration">
							<div class="panes">
								<div class="pane reg-form">
																			<p class="download-message">Already have a Daybreak Account? <a href="https://launch.daybreakgames.com/installer/DCUO_setup.exe?v=7" class="game-download-link">Download the Game.</a></p>
													<div class="row">
	<div class="col-sm-12">
		<div class="global-error hidden"></div>
	</div>
	<form class="form-horizontal" id="registration" onsubmit="SOE.Registration.FormProcessor.submitForm(); return false;" method="POST">
				<div class="form-group username-group highlight">
			<label class="col-sm-4 control-label" for="wrCreateUsername">Daybreak Username</label>
			<div class="col-sm-8">
				<input class="form-control" name="stationName" type="text" id="wrCreateUsername" spellcheck="false" tabindex="1" />
			</div>
			<div class="requirements retracted col-sm-8 col-sm-offset-4">
				<p>Daybreak Username Requirements:</p>
				<ul class="errors">
					<li data-error="isUsernameSize">Must be 4-15 characters in length</li>
					<li data-error="isUsernameValid">May only contain alphabetic characters (A-Z), numeric characters (0-9)</li>
					<li data-error="isUsernameTaken">Must be available <span class="suggestions"></span></li>
				</ul>
			</div>
		</div>
						<div class="form-group password-group highlight">
			<label class="col-sm-4 control-label" for="wrCreatePassword">Password</label>
			<div class="col-sm-8">
				<div class="checkbox show-password">
					<label>
						<input name="skipPasswordConfirm" type="checkbox" id="wrSkipPasswordConfirm" /><span class="checkbox-text">show</span><i></i>
					</label>
				</div>
				<input class="form-control inspectletIgnore" name="password1" type="password" id="wrCreatePassword" spellcheck="false" tabindex="2" />
			</div>
			<div class="password-confirm">
				<label class="col-sm-4 control-label" for="wrCreatePassword2">Confirm Password</label>
				<div class="col-sm-8">
					<input class="form-control inspectletIgnore" name="password2" type="password" id="wrCreatePassword2" spellcheck="false" tabindex="3" />
				</div>
			</div>
			<div class="requirements retracted col-sm-8 col-sm-offset-4">
				<p>Password Requirements:</p>
				<ul class="errors">
					<li data-error="isPasswordSize">Must be 8-15 characters in length</li>
					<li data-error="isPasswordValid">May only contain alphabetic characters (A-Z), numeric characters (0-9) and special characters (!"#$%)</li>
					<li data-error="passwordHasNumberAndLetter">Must contain at least one letter and one number</li>
					<li data-error="isPasswordNotStationName">Cannot match the Daybreak Username</li>
					<li data-error="isPasswordMatches">Passwords must match</li>
				</ul>
				<div id="passwordStrength">
					<p>Password Strength:&nbsp;
						<span class="strength-text">Too short</span>&nbsp;
						<i class="fa fa-question-circle password-strength-tooltip" data-toggle="tooltip" data-placement="bottom" title="Try a mix of capital letters, numbers, and acceptable special characters (!&quot;#$&%)"></i>
					</p>
					<div id="progress"><div class="strength-0"></div></div>
				</div>
			</div>
		</div>
						<div class="form-group email-group">
			<label class="col-sm-4 control-label" for="wrCreateEmail">Email Address</label>
			<div class="col-sm-8">
				<input class="form-control" name="emailAddress" type="text" id="wrCreateEmail" tabindex="4" />
			</div>
			<div class="email-error col-sm-8 col-sm-offset-4">Please provide a valid email address. The e-mail address you provide will be used to verify your identity should you forget your username and/or password.</div>
		</div>
						<div class="form-group country-group">
			<label class="col-sm-4 control-label" for="wrCreateCountry">Country</label>
			<div class="col-sm-8" id="countryList">
				<div class="fancy-select country">
					<select class="form-control" name="country" id="wrCreateCountry" tabindex="5">
						<option selected value="US">United States</option>
					</select>
				</div>
			</div>
		</div>
						<div class="form-group dob-group">
			<label class="col-sm-4 col-xs-12 control-label" for="wrCreateBirthdate">Date of Birth</label>
			<div class="col-sm-3 col-xs-5">
				<div class="fancy-select month">
					<select name="dobMonth" class="form-control" tabindex="6">
						<option selected value="">Month</option>
													<option value="1">January</option>
													<option value="2">February</option>
													<option value="3">March</option>
													<option value="4">April</option>
													<option value="5">May</option>
													<option value="6">June</option>
													<option value="7">July</option>
													<option value="8">August</option>
													<option value="9">September</option>
													<option value="10">October</option>
													<option value="11">November</option>
													<option value="12">December</option>
											</select>
				</div>
			</div>
			<div class="col-sm-2 col-xs-3">
				<div class="fancy-select day">
					<select name="dobDay" class="form-control" tabindex="7">
						<option selected value="">Day</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
													<option value="13">13</option>
													<option value="14">14</option>
													<option value="15">15</option>
													<option value="16">16</option>
													<option value="17">17</option>
													<option value="18">18</option>
													<option value="19">19</option>
													<option value="20">20</option>
													<option value="21">21</option>
													<option value="22">22</option>
													<option value="23">23</option>
													<option value="24">24</option>
													<option value="25">25</option>
													<option value="26">26</option>
													<option value="27">27</option>
													<option value="28">28</option>
													<option value="29">29</option>
													<option value="30">30</option>
													<option value="31">31</option>
											</select>
				</div>
			</div>
			<div class="col-sm-3 col-xs-4">
				<div class="fancy-select year">
					<select name="dobYear" class="form-control" tabindex="8">
						<option selected value="">Year</option>
																			<option value="2023">2023</option>
													<option value="2022">2022</option>
													<option value="2021">2021</option>
													<option value="2020">2020</option>
													<option value="2019">2019</option>
													<option value="2018">2018</option>
													<option value="2017">2017</option>
													<option value="2016">2016</option>
													<option value="2015">2015</option>
													<option value="2014">2014</option>
													<option value="2013">2013</option>
													<option value="2012">2012</option>
													<option value="2011">2011</option>
													<option value="2010">2010</option>
													<option value="2009">2009</option>
													<option value="2008">2008</option>
													<option value="2007">2007</option>
													<option value="2006">2006</option>
													<option value="2005">2005</option>
													<option value="2004">2004</option>
													<option value="2003">2003</option>
													<option value="2002">2002</option>
													<option value="2001">2001</option>
													<option value="2000">2000</option>
													<option value="1999">1999</option>
													<option value="1998">1998</option>
													<option value="1997">1997</option>
													<option value="1996">1996</option>
													<option value="1995">1995</option>
													<option value="1994">1994</option>
													<option value="1993">1993</option>
													<option value="1992">1992</option>
													<option value="1991">1991</option>
													<option value="1990">1990</option>
													<option value="1989">1989</option>
													<option value="1988">1988</option>
													<option value="1987">1987</option>
													<option value="1986">1986</option>
													<option value="1985">1985</option>
													<option value="1984">1984</option>
													<option value="1983">1983</option>
													<option value="1982">1982</option>
													<option value="1981">1981</option>
													<option value="1980">1980</option>
													<option value="1979">1979</option>
													<option value="1978">1978</option>
													<option value="1977">1977</option>
													<option value="1976">1976</option>
													<option value="1975">1975</option>
													<option value="1974">1974</option>
													<option value="1973">1973</option>
													<option value="1972">1972</option>
													<option value="1971">1971</option>
													<option value="1970">1970</option>
													<option value="1969">1969</option>
													<option value="1968">1968</option>
													<option value="1967">1967</option>
													<option value="1966">1966</option>
													<option value="1965">1965</option>
													<option value="1964">1964</option>
													<option value="1963">1963</option>
													<option value="1962">1962</option>
													<option value="1961">1961</option>
													<option value="1960">1960</option>
													<option value="1959">1959</option>
													<option value="1958">1958</option>
													<option value="1957">1957</option>
													<option value="1956">1956</option>
													<option value="1955">1955</option>
													<option value="1954">1954</option>
													<option value="1953">1953</option>
													<option value="1952">1952</option>
													<option value="1951">1951</option>
													<option value="1950">1950</option>
													<option value="1949">1949</option>
													<option value="1948">1948</option>
													<option value="1947">1947</option>
													<option value="1946">1946</option>
													<option value="1945">1945</option>
													<option value="1944">1944</option>
													<option value="1943">1943</option>
													<option value="1942">1942</option>
													<option value="1941">1941</option>
													<option value="1940">1940</option>
													<option value="1939">1939</option>
													<option value="1938">1938</option>
													<option value="1937">1937</option>
													<option value="1936">1936</option>
													<option value="1935">1935</option>
													<option value="1934">1934</option>
													<option value="1933">1933</option>
													<option value="1932">1932</option>
													<option value="1931">1931</option>
													<option value="1930">1930</option>
													<option value="1929">1929</option>
													<option value="1928">1928</option>
													<option value="1927">1927</option>
													<option value="1926">1926</option>
													<option value="1925">1925</option>
													<option value="1924">1924</option>
													<option value="1923">1923</option>
													<option value="1922">1922</option>
													<option value="1921">1921</option>
													<option value="1920">1920</option>
											</select>
				</div>
			</div>
			<div class="error-message hidden">
				<p>*Please choose a valid date of birth</p>
			</div>
			<div class="hidden dob-error error col-sm-8 col-sm-offset-4">Please choose a valid date of birth</div>
		</div>
						<div class="form-group marketing-group">
			<div class="col-sm-8 col-sm-offset-4 checkbox">
				<label>
					<input name="acceptMktg" type="checkbox" id="wrAcceptMktg" tabindex="9" /><i></i> Yes, please email me the latest news and special offer updates from DGC.
				</label>
			</div>
		</div>
						<div class="form-group tos-pp-group">
			<div class="col-sm-8 col-sm-offset-4 checkbox">
				<label>
					<input name="tosAccepted" type="checkbox" id="wrAcceptTOS" tabindex="10" /><i></i>
						<span class="tos-text checkbox-text">
							I have read and I accept the&nbsp;<a href='https://www.daybreakgames.com/terms-of-service?locale=en_US' target="_blank">Terms of Service</a> and&nbsp;<a href='https://www.daybreakgames.com/privacy?locale=en_US' target="_blank">Privacy Policy</a>
						</span>
				</label>
			</div>
			<div class="col-sm-8 col-sm-offset-4 checkbox hidden" id="privacyPolicy">
				<label>
					<input name="privacyPolicyAccepted" type="checkbox" id="wrAcceptPP" tabindex="11"/><i></i><span class="pp-text checkbox-text"></span>
				</label>
			</div>
			<div class="hidden tos-error pp-error error col-sm-8 col-sm-offset-4">Please indicate that you have read and accepted the <a href="https://www.daybreakgames.com/termsofservice" target="_blank">Terms of Service</a> and <a href="https://www.daybreakgames.com/privacy" target="_blank">Privacy Policy</a>.</div>
		</div>
				<div class="form-group create-group">
			<div class="col-sm-12">
				<button type="submit" class="btn btn-default" tabindex="12"></button>
			</div>
		</div>
		<div class="windows-only">
			<p>For Windows Only</p>
		</div>
		<div id="itLegalText"></div>
	</form>
	<form id="autoLogIn" class="hidden" action="https://auth.daybreakgames.com/loginWithoutTicket" method="POST">
		<input type="hidden" name="username" size="40" autocomplete="off" />
		<input type="hidden" name="password" size="40" autocomplete="off" />
		<input type="hidden" name="service" value="https://www.dcuniverseonline.com/authenticated/redirect/regSuccess" />
		<input type="hidden" name="gvid" value="" />
		<input type="hidden" name="gateway" value="true" />
		<input type="hidden" name="_eventId" value="submit" />
		<input type="hidden" name="theme" value="dcuo" />
	</form>
</div>
<div id="ipGate" class="modal">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>																		</div>
							</div>
						</div>
					</div>
					<div id="regTabPS4" class="tab-pane">
							<div class="email-group">
					<p class="email-cta">Before we send you to the PlayStation Store, sign up for the DCUO newsletter! Get insider updates on new features, special offers and starter guides. You can unsubscribe in one click.</p>
			<form action="" class="email-form" data-cid="1066779">
				<div class="tos-pp">
					<div class="checkbox"><label><input type="checkbox" /><i></i> I have read and I accept the <a href="https://www.daybreakgames.com/terms-of-service?locale=en_US" target="_blank">Terms of Service</a>.</label></div>
					<div class="checkbox"><label><input type="checkbox" /><i></i> I have read and I accept the <a href="https://www.daybreakgames.com/privacy?locale=en_US" target="_blank">Privacy Policy</a> and consent to the transfer of my information to the United States.</label></div>
				</div>
				<input type="email" id="emailInputPS4" class="email-address" placeholder="Email Address" />
				<button type="submit" class="email-submit" disabled>Sign Up Now!</button>
				<p class="result result-working">Working...</p>
				<p class="result result-success">Thank you for signing up for the DCUO newsletter!</p>
				<p class="result result-error"></p>
			</form>
			</div>
			<a href="https://store.playstation.com/en-us/product/UP0017-CUSA00012_00-DCUOLPS4LIVE0001/" class="continue-to-store" target="_blank">No Thanks - Continue to Store</a>
		<div class="external-site">
			<p>You are now leaving Daybreak's website.</p>
			<p>Daybreak does not control the destination website and is not responsible for its content.</p>
			<p>You will be subject to the destination website's privacy policy.</p>
		</div>
						</div>
					<div id="regTabXbox" class="tab-pane">
						<p class="xbl-gold-disclaimer"><b>*</b> Requires Xbox Live Gold to play on Xbox One.</p>
							<div class="email-group">
					<p class="email-cta">Before we send you to the Xbox One Store, sign up for the DCUO newsletter! Get insider updates on new features, special offers and starter guides. You can unsubscribe in one click.</p>
			<form action="" class="email-form" data-cid="1066781">
				<div class="tos-pp">
					<div class="checkbox"><label><input type="checkbox" /><i></i> I have read and I accept the <a href="https://www.daybreakgames.com/terms-of-service?locale=en_US" target="_blank">Terms of Service</a>.</label></div>
					<div class="checkbox"><label><input type="checkbox" /><i></i> I have read and I accept the <a href="https://www.daybreakgames.com/privacy?locale=en_US" target="_blank">Privacy Policy</a> and consent to the transfer of my information to the United States.</label></div>
				</div>
				<input type="email" id="emailInputXbox" class="email-address" placeholder="Email Address" />
				<button type="submit" class="email-submit" disabled>Sign Up Now!</button>
				<p class="result result-working">Working...</p>
				<p class="result result-success">Thank you for signing up for the DCUO newsletter!</p>
				<p class="result result-error"></p>
			</form>
			</div>
			<a href="http://www.xbox.com/en-US/games/dc-universe-online" class="continue-to-store" target="_blank">No Thanks - Continue to Store</a>
		<div class="external-site">
			<p>You are now leaving Daybreak's website.</p>
			<p>Daybreak does not control the destination website and is not responsible for its content.</p>
			<p>You will be subject to the destination website's privacy policy.</p>
		</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="consoleUnderageTemplate">
	<div class="underAge">We're sorry, but you are unable to sign up for the DCUO newsletter at this time.</div>
</script>



<div id="footer" >
	<div class="container-fluid footer-container">
							<div class="email-social-row">
				<div id="footerEmailBox" class="email">
					<h6>Email Sign Up</h6>
					<p>Sign up now to get insider updates on new features and special offers for DCUO. You can unsubscribe in one click.</p>
					<a href="javascript:;" class="newsletter-signup-button" id="nwsltrSignup" data-ga-action="click" data-ga-label="footer newsletter">Sign Up Now</a>
				</div>
				<div class="social">
					<h6>Stay Connected and Follow Us on:</h6>
					<ul>
						<li><a href="http://www.facebook.com/DCUniverseOnline" class="socl-link facebook" target="_blank"><i class="up"></i><i class="over"></i></a></li>
						<li><a href="https://twitter.com/DCUO" class="socl-link twitter" target="_blank"><i class="up"></i><i class="over"></i></a></li>
						<li><a href="https://www.youtube.com/dcuniverseonlinegame" class="socl-link youtube" target="_blank"><i class="up"></i><i class="over"></i></a></li>
						<li><a href="http://www.twitch.tv/dcuniverseonline" class="socl-link twitch" target="_blank"><i class="up"></i><i class="over"></i></a></li>
						<li><a href="https://discord.gg/kCqPmCu" class="socl-link discord" target="_blank"><i class="up"></i><i class="over"></i></a></li>
					</ul>
				</div>
			</div>
						<div class="links-row">
			<div class="link-column-wrapper">
				<section class="link-column">
					<h6>Company Links</h6>
					<ul>
						<li><a href="https://www.dimensionalink.com" target="_blank">About Dimensional Ink</a></li>
						<li><a href="https://www.dimensionalink.com/careers" target="_blank">Careers</a></li>
						<li><a href="/register" target="_blank">Create an Account</a></li>
						<li><a href="/goto?type=afterReg&targetUrlKey=pacmanRoot&theme=dcuo&locale=en_US" target="_blank">Account Management</a></li>
						<li><a href="/goto?type=afterReg&targetUrlKey=camEnterActivationCode&theme=dcuo&locale=en_US&gameCode=DCUO&service=https%3A%2F%2Fwww.dcuniverseonline.com" target="_blank">Enter Activation Code</a></li>
						<li><a href="https://help.daybreakgames.com/hc/en-us/categories/204228467-DC-UNIVERSE-ONLINE" target="_blank">Customer Support</a></li>
					</ul>
				</section>
				<section class="link-column">
					<h6>DCUO</h6>
					<ul>
						<li><a href="/game">About the Game</a></li>
						<li><a href="/home#feed">News</a></li>
						<li><a href="https://forums.daybreakgames.com/dcuo/index.php">Forums</a></li>
						<li><a href="https://www.daybreakgames.com/status?locale=en_US" target="_blank">Server Status</a></li>
						<li><a href="/shop/virtual-currency" target="_blank">Virtual Currency</a></li>
						<li><a href="/shop/membership">Membership</a></li>
						<li><a href="/shop/episodes">Episodes</a></li>
					</ul>
				</section>
				<section class="link-column">
					<h6>Get The Game</h6>
					<ul>
						<li><a href="https://store.playstation.com/en-us/product/UP0017-CUSA00012_00-DCUOLPS4LIVE0001/" target="_blank">Play on PlayStation 4</a></li>
						<li><a href="http://www.xbox.com/en-US/games/dc-universe-online" target="_blank">Play on Xbox One</a></li>
						<li><a href="https://www.nintendo.com/games/detail/dc-universe-online-switch/" target="_blank">Play on Nintendo Switch</a></li>
						<li><a href="https://launch.daybreakgames.com/installer/DCUO_setup.exe?v=7" class="game-download-link">Play on Windows PC</a></li>
					</ul>
				</section>
			</div>
		</div>
				<div class="logos-row">
			<ul>
				<li><img src="https://www.dcuniverseonline.com/images/v4/global/logo/xbox.png?v=4036106000" alt="XBOX"></li>
				<li><img src="https://www.dcuniverseonline.com/images/v4/global/logo/ps4.png?v=2455538357" alt="PS4"></li>
				<li><img src="https://www.dcuniverseonline.com/images/v4/global/logo/switch.png?v=1023687295" alt="Nintendo Switch"></li>
				<li><a href="http://www.dccomics.com/" target="_blank"><img src="https://www.dcuniverseonline.com/images/v4/global/logo/dc.png?v=3173062650" alt="DC Comics"></a></li>
				<li><a href="http://www.warnerbros.com/" target="_blank"><img src="https://www.dcuniverseonline.com/images/v4/global/logo/wb.png?v=3964098235" alt="WB Games"></a></li>
			</ul>
		</div>
				<div class="logos-row">
			<ul>
				<li><a href="https://www.daybreakgames.com" target="_blank"><img src="https://www.dcuniverseonline.com/images/v4/global/logo/dgc-logo-md.png?v=2167862399" alt="Daybreak Games" /></a></li>
				<li><a href="https://www.dimensionalink.com/" target="_blank"><img src="https://www.dcuniverseonline.com/images/v4/global/logo/dig-logo.jpg?v=1306449545" alt="Dimensional Ink Games" /></a></li>
				<li><a href="https://www.esrb.org/confirm/soe-confirmation.jsp" target="_blank"><img src="https://assets-cdn.daybreakgames.com/uploads/dcsclient/000/000/027/304.gif" /></a></li>
									<li><a href="http://www.esrb.org/ratings/ratings_guide.jsp"><img src="https://www.dcuniverseonline.com/images/v4/global/logo/footer-esrb.png?v=4184206584" alt="ERSB: Teen Rating" /></a></li>
															</ul>
		</div>
	</div>
		<div class="legal-row">
		<div class="container-fluid legal-container">
			<p class="copyright">&copy;2016-2023 Daybreak Game Company LLC. <span>All Rights Reserved.</span></p>
			<div class="links">
				<ul>
					<li><a href="https://www.daybreakgames.com/legal?locale=en_US" target="_blank">Legal Notices</a></li>
					<li><a href="https://www.daybreakgames.com/privacy?locale=en_US" target="_blank">Privacy Policy</a></li>
					<li><a href="https://www.daybreakgames.com/terms-of-service?locale=en_US" target="_blank">Terms of Service</a></li>
					<li><a href="https://www.daybreakgames.com/photosensitive?locale=en_US" target="_blank">Photosensitive Warning</a></li>
					<li><a href="https://www.daybreakgames.com/cookies?locale=en_US" target="_blank">Cookies</a></li>
					<li><a href="#cookieSettings">Cookie Preferences</a></li>
					<li><a href="https://help.daybreakgames.com/hc/en-us/categories/204228467-DC-UNIVERSE-ONLINE" target="_blank">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div id="nwsltrModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<a class="close" data-dismiss="modal"></a>
				<p class="sign-up-header">
					<img src="https://www.dcuniverseonline.com/images/v4/global/newsletter-modal/sign-up-header.png?v=3290360686" alt="Sign Up Now" />
				</p>
				<p class="sign-up-cta">Get insider updates on new features and special offers for DCUO. You can unsubscribe in one click.</p>
				<form action="" class="newsletter-modal-form" id="newsletterModalForm">
					<input type="email" id="newsletterModalEmail" class="newsletter-modal-address" placeholder="Enter Email Address" />
					<div class="newsletter-modal-results">
						<p class="result result-error"></p>
					</div>
					<div class="tos-pp">
						<label><input type="checkbox" /><i></i> I have read and I accept the <a href="https://www.daybreakgames.com/terms-of-service?locale=en_US" target="_blank">Terms of Service</a>.</label>
						<label><input type="checkbox" /><i></i> I have read and I accept the <a href="https://www.daybreakgames.com/privacy?locale=en_US" target="_blank">Privacy Policy</a> and consent to the transfer of my information to the United States.</label>
					</div>
					<p class="system-select-slug">Select Your System<br/>(you may select more than one)</p>
					<p class="system-select">
						<input type="checkbox" name="platform-switch" id="newsletterPlatformSwitch" data-cid="5266596" />
						<label for="newsletterPlatformSwitch" class="platform-icon switch" data-toggle="tooltip" data-placement="top" title="Nintendo Switch"></label>
						<input type="checkbox" name="platform-xbox" id="newsletterPlatformXbox" data-cid="1066781" />
						<label for="newsletterPlatformXbox" class="platform-icon xbox" data-toggle="tooltip" data-placement="top" title="XBOX"></label>
						<input type="checkbox" name="platform-ps" id="newsletterPlatformPS" data-cid="1066779" />
						<label for="newsletterPlatformPS" class="platform-icon ps" data-toggle="tooltip" data-placement="top" title="PlayStation"></label>
						<input type="checkbox" name="platform-pc" id="newsletterPlatformPC" data-cid="1066782" />
						<label for="newsletterPlatformPC" class="platform-icon pc" data-toggle="tooltip" data-placement="top" title="PC"></label>
					</p>
					<a href="javascript:;" class="newsletter-modal-submit disabled" id="newsletterModalSubmit">Submit</a>
				</form>
				<div class="newsletter-modal-results">
					<p class="result result-working">Working...</p>
					<p class="result result-success">Thank You for Submitting Your Email Address! We Will Keep You Updated on DCUO Events.</p>
				</div>
			</div>
		</div>
	</div>
</div>
		<div id="footerAlerts">
		<div class="footer-alert legal-update-notice">
	<div class="footer-alert-header">
		<h6>Privacy Policy Changes<div class="footer-alert-close"></div></h6>
	</div>
	<div class="footer-alert-body">
		<p>We have updated our <a href="https://www.daybreakgames.com/privacy" target="_blank">Privacy Policy</a>. Please take a moment to familiarize yourself with our privacy practices.<br/><br/>If you are a resident of California, please view our <a href="https://www.daybreakgames.com/privacy?locale=en_US#privacyCalifornia" target="_blank">California Privacy Disclosure</a>.</p>
	</div>
</div>
<script type="text/javascript">
	window.DGC = window.DGC || {};
	window.DGC.legalUpdate = {};
	window.DGC.legalUpdate.lastUpdate = "2019-12-20";
	window.DGC.legalUpdate.noticeDuration = 60;
</script>
</div>

					<script language="JavaScript" type="text/javascript" src="https://www.dcuniverseonline.com/minify-js?locale=en_US&files=web-platform/component/browserErrors^web-platform/init^web-platform/helpers/misc^libs/jquery/jquery-2.1.3.min^libs/twitter/bootstrap-3.3.4.min^libs/utils/underscore-min^libs/jquery/plugins/xdr^core^web-platform/component/legal-update^web-platform/helpers/debounced-updater&v=2540991966"></script>
		



		<script>
		globs.wdl.trackingPageLoadTags = [];
		globs.wdl.trackingTagGroups = {};
		globs.wdl.trackingTagGroupsConsented = {};
	</script>

		
																
									
															
																																																<script>
									globs.wdl.trackingPageLoadTags.push('<script> !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version=\'2.0\'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,\'script\', \'https:\/\/connect.facebook.net\/en_US\/fbevents.js\'); fbq(\'init\', \'624665025413923\'); fbq(\'track\', \'PageView\'); <\/script>');
								</script>
																																																																							
									
									
		<script type="text/javascript" src="/web-platform/scripts/libs/tarteaucitron/1.8.4/tarteaucitron.js"></script>

	<script>
																																													
				window.tarteaucitronCustomText = {
			alertBigPrivacy: 'By clicking \"Accept All Cookies\" you agree to storing cookies from us on DCUniverseOnline.com or its third party tools to enhance functionality, personalize content, analyze use of the site, and provide social media features. We may also share information about your use of our site with our social media, advertising, and analytics partners.',
			acceptAll: 'Accept All DCUniverseOnline.com Cookies',
			rejectAll: 'Reject All DCUniverseOnline.com Cookies',
			personalize: 'Personalize DCUniverseOnline.com Cookies',
			privacyUrl: 'Cookie Policy',
			close: 'Save and Close',
			title: 'DCUniverseOnline.com Cookie Preferences',
			disclaimer: 'You can always change your mind and alter your consent choices by opting out via our <a href=\"https:\/\/www.daybreakgames.com\/cookies?locale=en_US\" target=\"_blank\">Cookie Policy<\/a>.<br\/><br\/>We use necessary cookies to make our site work. We\'d also like to place optional cookies such as analytics and advertising cookies. Please use this Cookie Management Panel to manage your preferences for optional cookies on DCUniverseOnline.com. This tool will also place a cookie in order to remember your preferences.<br\/><br\/>For more detailed information about the cookies we use, see our <a href=\"https:\/\/www.daybreakgames.com\/cookies?locale=en_US\" target=\"_blank\">Cookie Policy<\/a><i class=\"blank-after\"><\/i>.',
			noCookie: 'If allowed to run, this service will use tracking cookies.',
			useCookie: 'If allowed to run, this service will use tracking cookies.',
			useCookieCurrent: 'If allowed to run, this service will use tracking cookies.',
			useNoCookie: 'If allowed to run, this service will use tracking cookies.'
		};

							globs.wdl.consentModulesAdd = [ 'facebookPixel',  'dgcVisited',  'twitterWidgetsApi',  'gtagPixel',  'basis' ];
				
							globs.wdl.siteSupportCookies = [ 'alertDismissed',  'dcuoSawValueBundlesFlyout',  'shop-currency',  'steamCustomer',  'launchedBySteam',  'lp4_web_reg',  'wdlLglUpd' ];
			</script>

					<script language="JavaScript" type="text/javascript" src="https://www.dcuniverseonline.com/minify-js?locale=en_US&files=web-platform/helpers/buffer^web-platform/track/tracker^web-platform/track/data-layer^web-platform/track/cookie-consent&v=2221377303"></script>
		
			<script language="JavaScript" type="text/javascript" src="https://www.dcuniverseonline.com/minify-js?locale=en_US&files=web-platform/reg/registration2^v4/_pages/register^web-platform/component/global-nav^v4/components/newsletter-modal&v=3020067903"></script>
		
</body>
</html>

